html 
{
    background: hsla(0, 0%, 14%);
}

.page 
{
    background: hsla(0, 0%, 14%);
    
}

.navbar 
{
    background: hsla(0, 0%, 14%);
}


.navbar-element 
{
    transition: 0.2s ease-in;
    text-decoration: none;
    color: white;
}

.navbar-element:hover 
{
    transform: scale(0.9);
    transition-duration: 0.15s;
}

@media (max-width: 1200px) 
{

}

@media (max-width: 992px) 
{

}

@media (max-width: 768px) 
{

}

@media (max-width: 480px) 
{

}

@media (max-width: 320px) 
{

}