html 
{
    background: hsla(0, 0%, 14%);
}

.navbar 
{
    background: hsla(0, 0%, 14%);
}


.navbar-element 
{
    transition: 0.2s ease-in;
    text-decoration: none;
    color: white;
}

.navbar-element:hover 
{
    transform: scale(0.9);
    transition-duration: 0.15s;
}