html 
{
    background: hsla(0, 0%, 14%);
}

.navbar 
{
    background: hsla(0, 0%, 14%);
}


.navbar-element 
{
    transition: 0.2s ease-in;
}

.navbar-element:hover 
{
    transform: scale(0.85);
    transition-duration: 0.2s;
}